<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style-works.css">

    <title>Works</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar">
        <div class="container-fluid">
               <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li><a class="navbar-brand fsfw-bold" href="#"><img src="../images/logo.png" width="50" height="25"></a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" >About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"><b>Works</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Discography</h1>
    <div class="cards-row">

        <div class="card" style="width: 18rem;">
            <img src="../images/Muse_WOTP_2022.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Will of the people</h5>
                <p class="card-text">2022</p>
                <div class="d-grid">
                <a href="#" class="btn btn-outline-secondary">Soon</a>
            </div>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../images/Muse - Simulation Theory.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Simulation theory</h5>
                <p class="card-text">2018</p>
                <div class="d-grid">
                <a href="https://www.amazon.com/dp/B07FQ6GTK5/ref=ntt_mus_ep_dpi_8" class="btn btn-outline-secondary">Buy here</a>
            </div>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../images/Muse - Drones packshot_0.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Drones</h5>
                <p class="card-text">2015</p>
                <div class="d-grid">
                <a href="https://www.amazon.com/dp/B00UHQ73NO/ref=ntt_mus_ep_dpi_5" class="btn btn-outline-secondary">Buy here</a>
            </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../images/Muse - The 2nd Law packshot_0.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The 2nd Law</h5>
                <p class="card-text">2012</p>
                <div class="d-grid">
                <a href="https://www.amazon.com/dp/B008N4XC2I/ref=ntt_mus_ep_dpi_3" class="btn btn-outline-secondary">Buy here</a>
            </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../images/The-Resistance-by-MUSE.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Resistance</h5>
                <p class="card-text">2009</p>
                <div class="d-grid">
                 <a href="https://www.amazon.com/dp/B002GZQYMK/ref=ntt_mus_ep_dpi_2" class="btn btn-outline-secondary">Buy here</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../images/Muse - Black Holes Packshot.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Black Holes and Revelations</h6>
                <p class="card-text">2008</p>
                <div class="d-grid">
                <a href="https://www.amazon.com/dp/B000FVQYYK/ref=ntt_mus_ep_dpi_1" class="btn btn-outline-secondary">Buy here</a>
            </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../images/Muse - Absolution Packshot_0.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Absolution</h5>
                <p class="card-text">2003</p>
                <div class="d-grid">
                <a href="https://www.amazon.com/dp/B000FVQYYK/ref=ntt_mus_ep_dpi_1" class="btn btn-outline-secondary">Buy here</a>
            </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../images/Muse - Hullabaloo Packshot_0.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hullabaloo Soundtrack</h5>
                <p class="card-text">2002</p>
                <div class="d-grid">
                <a href="https://www.amazon.com/dp/B00013UTUM/ref=ntt_mus_ep_dpi_14" class="btn btn-outline-secondary">Buy here</a>
            </div>
            </div>
        </div>



    </div>
</body>

</html>