body {
  font-family: "Montserrat", sans-serif;
  background-color: #ccd1d1;
}

h1 {
  font-size: 5em;
  text-align: center;
  padding-top: 15px;
  text-shadow: 4px 4px darkgrey;
}
.cards-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
  margin-top: 50px;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.navbar {
  padding: 20px;
}
